services:
  rasa:
    build:
      context: ./RasaProject
      dockerfile: Dockerfile
      network: host
    network_mode: "host"

  rasa-actions:
    build:
      context: ./RasaProject
      dockerfile: Dockerfile.actions
      network: host
    network_mode: "host"
    env_file:
      - ./RasaProject/.env
    volumes:
      - /var/log/ecobot:/var/log/ecobot
      - /var/data/ecobot:/var/data/ecobot
      - /var/www/map_bot/maps:/app/maps

  giga-api:
    build:
      context: ./GigaChatAPI
      network: host
    network_mode: "host"
    env_file:
      - ./GigaChatAPI/.env

  telegram-bot:
    build:
      context: ./TelegramBot
      network: host
    network_mode: "host"
    volumes:
      - /var/log/ecobot:/var/log/ecobot
      - /var/data/ecobot:/var/data/ecobot
    env_file:
      - ./TelegramBot/.env
    depends_on:
      #- rasa
      - rasa-actions
      - giga-api